<div id="menu-doc" ng-controller="documentationController as vm">
  <p><strong>Bienvenido {{ vm.userName }} a Plalex</strong>, lee con atención las siguientes instrucciones para mejorar tu experiencia en esta plataforma.-</p>
  <br>
  <p>En esta sección aparecerá documentación de apoyo en el momento en que de clic en algún tema de los situados en el lado izquierdo de esta pantalla, intente acceder a alguno...</p><br>
  <p>Si tiene dudas puede utilizar el sistema de discusiones para realizar preguntas sobre los temas vistos en el curso, realizar aportes (compartir enlaces y codigo), intercambiar ideas y ayudar a sus compañeros del curso.</p><br>
  <p>Recuerde, si alguna discusión le fue de ayuda, dele un voto positivo para hacerla mas relevante y asi más usuarios puedan tener acceso a ésta, en caso contrario puede darle un voto negativo para dejarla en el rezago.</p>
</div>
